<%= form_for reader, url: x do |form| %>
  <% if reader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reader.errors.count, "error") %> prohibited this reader from being saved:</h2>

      <ul>
      <% reader.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number, 'Номер билета' %>
    <%= form.number_field :number, :step => 1 %>
  </div>

  <div class="field">
    <%= form.label :lastname, 'Фамилия' %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :firstname, 'Имя' %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :fathername, 'Отчество' %>
    <%= form.text_field :fathername %>
  </div>

  <div class="field">
    <%= form.label :adress, 'Адрес' %>
    <%= form.text_area :adress %>
  </div>

  <div class="field">
    <%= form.label :phone, 'Телефон' %>
    <%= form.telephone_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit 'Подтвердить' %>
  </div>
<% end %>
