<%= form_with(model: reader, local: true) do |form| %>
  <% if reader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reader.errors.count, "error") %> prohibited this reader from being saved:</h2>

      <ul>
      <% reader.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label(:lib_id, 'Lib ID') %>
    <%= form.number_field :lib_id, :step => 1 %>
    <br>
    <%= link_to 'List of libraries', libs_path %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, :step => 1 %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :fathername %>
    <%= form.text_field :fathername %>
  </div>

  <div class="field">
    <%= form.label :adress %>
    <%= form.text_area :adress %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.telephone_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
