<p id="notice"><%= notice %></p>

<h3 class="main">Информация об абоненте</h3>

<p>
  <strong>Номер билета:</strong>
  <%= @reader.number %>
</p>

<p>
  <strong>Фамилия:</strong>
  <%= @reader.lastname %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @reader.firstname %>
</p>

<p>
  <strong>Отчество:</strong>
  <%= @reader.fathername %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @reader.adress %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @reader.phone %>
</p>

<p>
  <strong>Книг "на руках":</strong>
  <%= @count %>
</p>

<hr>

<div class="tools">
  <div class="actions btn-group btn-group-toggle" data-toggle="buttons">
    <%= link_to 'Изменить', {:controller => :readers, :action => :edit}, 
                             :params => {:lib_id => @reader.lib, :id => @reader}, 
                             :class => "btn btn-sm btn-outline-info" %>
    <%= link_to 'Удалить', [@reader.lib, @reader], method: :delete, 
                            data: { confirm: 'Ты уверен?' }, 
                            :class => "btn btn-sm btn-outline-info" %>
  </div>
  <div class="actions">
    <%= link_to 'Назад', lib_readers_path, :class => "btn btn-sm btn-outline-danger" %>
  </div>
</div>