<p id="notice"><%= notice %></p>

<p>
  <h1>Информация об абоненте</h1>
</p>

<p>
  <strong>Номер билета:</strong>
  <%= @reader.number %>
</p>

<p>
  <strong>Фамилия:</strong>
  <%= @reader.lastname %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @reader.firstname %>
</p>

<p>
  <strong>Отчество:</strong>
  <%= @reader.fathername %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @reader.adress %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @reader.phone %>
</p>

<hr>

<%= link_to 'Изменить', {:controller => :readers, :action => :edit}, :params => {:lib_id => @reader.lib, :id => @reader} %> |
<%= link_to 'Удалить', [@reader.lib, @reader], method: :delete, data: { confirm: 'Ты уверен?' } %>
<br>
<%= link_to 'Назад', lib_readers_path %>