<h1>Библиотека</h1>
<%= link_to 'Libs', controller: 'libs' %>
<br>
<%= link_to 'Workers', controller: 'workers' %>
<br>
<%= link_to 'Readers', controller: 'readers' %>
<br>
<%= link_to 'Books', controller: 'books' %>
<br>
<%= link_to 'Readers', controller: 'readers' %>
<br>
<%= link_to 'Servs', controller: 'servs' %>