<%= form_for book, url: x do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок найдено: <%= book.errors.count %></h2>
      <ul>
      <br>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Наименование:' %>
    <%= form.text_area :name, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :author, 'Автор:' %>
    <%= form.text_area :author, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :code, 'Шифр:' %>
    <%= form.text_field :code, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :publisher, 'Издательство:' %>
    <%= form.text_area :publisher, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :year, 'Год издания:' %>
    <%= form.number_field :year, :step => 1, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :price, 'Цена:' %>
    <%= form.number_field :price, :step => 0.01, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :date, 'Дата поступления:' %>
    <div class="form-inline">
      <%= form.date_select :date, {order: [:day, :month, :year], 
                           prompt: { day: 'День', month: 'Месяц', year: 'Год' }, 
                           start_year: Date.today.year, end_year: Date.today.year - 100}, 
                           :class => 'form-control' %>
    </div>
  </div>

  <hr>

  <div class="tools">
    <div class="actions">
      <%= form.submit 'Подтвердить', :class => 'btn btn-outline-success btn-sm' %>
    </div>
    <div class="actions">
      <%= link_to 'Назад', x, :class => 'btn btn-outline-danger btn-sm' %>
    </div>
  </div>
<% end %>
