<p id="notice"><%= notice %></p>
<p id="alert" style="color: red"><%= alert %></p>

<h3 class="main">Список книг библиотеки <strong><%= @lib.name %></strong></h3>

<br>

<table class="col-md-12">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Автор</th>
      <th>Шифр</th>
      <th>Издательство</th>
      <th>Год издания</th>
      <th>Цена</th>
      <th>Дата поступления</th>
      <th>Статус</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <% busy = book.servs.where('finish is null') %>
      <% if busy.any? %>
        <% status = 'Занята' %>
      <% else %>
        <% status = 'Свободна' %>
      <% end %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.code %></td>
        <td><%= book.publisher %></td>
        <td><%= book.year %></td>
        <td><%= book.price %></td>
        <td><%= book.date.strftime("%d.%m.%Y") %></td>
        <td><%= status %></td>
        <td><%= link_to 'Показать', lib_book_path(book.lib, book) %></td>
        <td><%= link_to 'Изменить', edit_lib_book_path(book.lib, book) %></td>
        <td><%= link_to 'Удалить', [book.lib, book], method: :delete, 
                                   data: { confirm: 'Ты уверен?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="paginator-parent">
  <div class="paginator-child">
    <%= will_paginate(@books, :link_separator => ']-[', 
                              :previous_label => '[Предыдущая страница', 
                              :next_label => 'Следующая страница]', 
                              :inner_window => 1, :outer_window => 1) %>
  </div>
</div>

<hr>

<div class="tools">
  <div class="actions">
    <%= link_to 'Добавить книгу', new_lib_book_path(@lib), 
                                  :class => "btn btn-sm btn-outline-info" %>
  </div>
  <div class="actions">
    <%= link_to 'Назад', lib_path(@lib), :class => "btn btn-sm btn-outline-danger" %>
  </div>
</div>
