<p id="notice"><%= notice %></p>

<p>
  <h1>Информация о книге</h1>
</p>

<p>
  <strong>Наименование:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Автор:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Шифр:</strong>
  <%= @book.code %>
</p>

<p>
  <strong>Издательство:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Год издания:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Дата поступления:</strong>
  <%= @book.date %>
</p>

<hr>

<%= link_to 'Выдачи', lib_book_servs_path(@lib, @book) %> |
<%= link_to 'Добавить выдачу', new_lib_book_serv_path(@lib, @book) %>
<br>
<%= link_to 'Изменить', {:controller => :books, :action => :edit}, :params => {:lib_id => @book.lib, :id => @book} %> |
<%= link_to 'Удалить', [@book.lib, @book], method: :delete, data: { confirm: 'Ты уверен?' } %>
<br>
<%= link_to 'Назад', lib_books_path %>

