<%= form_for serv, url: x do |form| %>
  <% if serv.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(serv.errors.count, "error") %> prohibited this serv from being saved:</h2>

      <ul>
      <% serv.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reader_id, 'Абонент' %>
    <%= form.collection_select(:reader_id, @reader, :id, :firstname, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :start, 'Дата выдачи' %>
    <%= form.date_select :start, {order: [:day, :month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Date.today.year, end_year: Date.today.year - 100} %>
  </div>

  <div class="field">
    <%= form.label :finish, 'Дата возврата' %>
    <%= form.date_select :finish, {order: [:day, :month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Date.today.year, end_year: Date.today.year - 100} %>
  </div>

  <div class="actions">
    <%= form.submit 'Подтвердить' %>
  </div>
<% end %>
