<%= form_for serv, url: x do |form| %>

  <div class="field">
    <%= form.label :reader_id, 'Абонент:' %>
    <%= form.collection_select :reader_id, @reader, :id, :values, 
                               {prompt: true}, {class: "form-control"} %>
    <% if serv.errors[:reader_id].any? %>
      <% serv.errors[:reader_id].each do |error| %>
        <p style="text-indent: 10px; color: red;"><%= error.capitalize %></p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :start, 'Дата выдачи:' %>
    <div class="form-inline">
      <%= form.date_select :start, {order: [:day, :month, :year], 
                            prompt: { day: 'День', month: 'Месяц', year: 'Год' }, 
                            start_year: Date.today.year, 
                            end_year: Date.today.year - 100,
                            selected: serv.start || Date.today}, 
                            :class => 'form-control col-md-4' %>
    </div>
    <% if serv.errors[:start].any? %>
      <% serv.errors[:start].each do |error| %>
        <p style="text-indent: 10px; color: red;"><%= error.capitalize %></p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :finish, 'Дата возврата:' %>
    <div class="form-inline">
      <%= form.date_select :finish, {order: [:day, :month, :year], 
                            prompt: { day: 'День', month: 'Месяц', year: 'Год' }, 
                            start_year: Date.today.year, 
                            end_year: Date.today.year - 100}, 
                            :class => 'form-control col-md-4' %>
    </div>
    <% if serv.errors[:finish].any? %>
      <% serv.errors[:finish].each do |error| %>
        <p style="text-indent: 10px; color: red;"><%= error.capitalize %></p>
      <% end %>
    <% end %>
  </div>

  <hr>

  <div class="tools">
    <div class="actions">
      <%= form.submit 'Подтвердить', :class => 'btn btn-outline-success btn-sm' %>
    </div>
    <div class="actions">
      <%= link_to 'Назад', x, :class => 'btn btn-outline-danger btn-sm' %>
    </div>
  </div>

<% end %>
