<%= form_for serv, url: x do |form| %>
  <% if serv.errors.any? %>
    <div id="error_explanation">
    <h2>Ошибок найдено: <%= serv.errors.count %></h2>
      <ul>
      <% serv.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reader_id, 'Абонент:' %>
    <%= form.collection_select :reader_id, @reader, :id, :values, 
                               {prompt: true}, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :start, 'Дата выдачи:' %>
    <div class="form-inline">
      <%= form.date_select :start, {order: [:day, :month, :year], 
                            prompt: { day: 'День', month: 'Месяц', year: 'Год' }, 
                            start_year: Date.today.year, end_year: Date.today.year - 100}, 
                            :class => 'form-control' %>
    </div
  </div>

  <div class="field">
    <%= form.label :finish, 'Дата возврата:' %>
    <div class="form-inline">
      <%= form.date_select :finish, {order: [:day, :month, :year], 
                            prompt: { day: 'День', month: 'Месяц', year: 'Год' }, 
                            start_year: Date.today.year, end_year: Date.today.year - 100}, 
                            :class => 'form-control' %>
    </div>
  </div>

  <hr>

  <div class="tools">
    <div class="actions">
      <%= form.submit 'Подтвердить', :class => 'btn btn-outline-success btn-sm' %>
    </div>
    <div class="actions">
      <%= link_to 'Назад', x, :class => 'btn btn-outline-danger btn-sm' %>
    </div>
  </div>

<% end %>
