<p id="notice"><%= notice %></p>
<p id="alert" style="color: red"><%= alert %></p>

<h3 class="main">Список выдач книги <strong><%= @book.name %></strong></h3>

<br>

<table class="col-md-12">
  <thead>
    <tr>
      <th>Абонент</th>
      <th>Дата выдачи</th>
      <th>Дата возврата</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servs.each do |serv| %>
      <tr>
        <td><%= serv.reader.values %></td>
        <td><%= serv.start.try(:strftime, "%d.%m.%Y") %></td>
        <td>
          <% if serv.finish %>
            <%= serv.finish.try(:strftime, "%d.%m.%Y") %>
          <% else %>
            Не указано
          <% end %>
        </td>
        <td><%= link_to 'Показать', lib_book_serv_path(serv.book.lib, serv.book, serv) %></td>
        <td><%= link_to 'Изменить', edit_lib_book_serv_path(serv.book.lib, serv.book, serv) %></td>
        <td><%= link_to 'Удалить', [serv.book.lib, serv.book, serv], method: :delete, 
                                    data: { confirm: 'Ты уверен?' } %></td>
      </tr>
    <% end %>
  </tbody>        
</table>

<br>

<div class="paginator-parent">
  <div class="paginator-child">
    <%= will_paginate(@servs, :link_separator => ']-[', 
                              :previous_label => '[Предыдущая страница', 
                              :next_label => 'Следующая страница]', 
                              :inner_window => 1, :outer_window => 1) %>
  </div>
</div>

<hr>

<div class="tools">
  <div class="actions">
    <%= link_to 'Добавить выдачу', new_lib_book_serv_path(@book.lib, @book), 
                                   :class => "btn btn-sm btn-outline-info" %>
  </div>
  <div class="actions">
    <%= link_to 'Назад', lib_book_path(@book.lib, @book), :class => "btn btn-sm btn-outline-danger" %>
  </div>
</div>