<p id="notice"><%= notice %></p>

<h1>Выдачи</h1>

<table>
  <thead>
    <tr>
      <th>Дата выдачи</th>
      <th>Дата возврата</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servs.each do |serv| %>
      <tr>
        <td><%= serv.start %></td>
        <td><%= serv.finish %></td>
        <td><%= link_to 'Показать', lib_book_serv_path(serv.book.lib, serv.book, serv) %></td>
        <td><%= link_to 'Изменить', edit_lib_book_serv_path(serv.book.lib, serv.book, serv) %></td>
        <td><%= link_to 'Удалить', [serv.book.lib, serv.book, serv], method: :delete, data: { confirm: 'Ты уверен?' } %></td>
      </tr>
    <% end %>
  </tbody>        
</table>

<hr>
<%= link_to 'Добавить выдачу', new_lib_book_serv_path(@book.lib, @book) %>
<br>
<%= link_to 'Главная', root_path %> |
<%= link_to 'Назад', lib_book_path(@book.lib, @book) %>