<p id="notice"><%= notice %></p>

<h1>Информация о выдаче</h1>

<p>
  <strong>Дата выдачи:</strong>
  <%= @serv.start %>
</p>

<p>
  <strong>Дата возврата:</strong>
  <%= @serv.finish %>
</p>

<hr>

<%= link_to 'Изменить', {:controller => :servs, :action => :edit}, :params => {:book_id => @serv.book, :id => @serv} %> |
<%= link_to 'Удалить', [@serv.book.lib, @serv.book, @serv], method: :delete, data: { confirm: 'Ты уверен?' } %>
<br>
<%= link_to 'Назад', lib_book_servs_path %>