<p id="notice"><%= notice %></p>

<h3 class="main">Информация о выдаче</h3>

<p>
  <strong>Абонент</strong>
  <%= @serv.reader.values %>
</p>

<p>
  <strong>Дата выдачи:</strong>
  <%= @serv.start.try(:strftime, "%d.%m.%Y") %>
</p>

<p>
  <strong>Дата возврата:</strong>
  <% if @serv.finish %>
    <%= @serv.finish.try(:strftime, "%d.%m.%Y") %>
  <% else %>
    Не указано
  <% end %>
</p>

<hr>

<div class="tools">
  <div class="actions btn-group btn-group-toggle" data-toggle="buttons">
    <%= link_to 'Изменить', {:controller => :servs, :action => :edit}, 
                             :params => {:book_id => @serv.book, :id => @serv}, 
                             :class => "btn btn-sm btn-outline-info" %>
    <%= link_to 'Удалить', [@serv.book.lib, @serv.book, @serv], method: :delete, 
                            data: { confirm: 'Ты уверен?' }, 
                            :class => "btn btn-sm btn-outline-info" %>
  </div>
  <div class="actions">
    <%= link_to 'Назад', lib_book_servs_path, :class => "btn btn-sm btn-outline-danger" %>
  </div>
</div>