<%= form_for worker, url: x do |form| %>
  <% if worker.errors.any? %>
    <div id="error_explanation">
    <h2>Ошибок найдено: <%= worker.errors.count %></h2>
      <ul>
      <% worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lastname, 'Фамилия:' %>
    <%= form.text_field :lastname, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :firstname, 'Имя:' %>
    <%= form.text_field :firstname, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :fathername, 'Отчество:' %>
    <%= form.text_field :fathername, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :birthday, 'Дата рождения:' %>
    <div class="form-inline">
      <%= form.date_select :birthday, {order: [:day, :month, :year], 
                            prompt: { day: 'День', month: 'Месяц', year: 'Год' }, 
                            start_year: Date.today.year-14, end_year: Date.today.year - 100}, 
                            :class => 'form-control' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :workdate, 'Дата принятия на работу:' %>
    <div class="form-inline">
      <%= form.date_select :workdate, {order: [:day, :month, :year], 
                            prompt: { day: 'День', month: 'Месяц', year: 'Год' }, 
                            start_year: Date.today.year, end_year: Date.today.year - 100}, 
                            :class => 'form-control' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :position, 'Должность:' %>
    <%= form.text_area :position, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :education, 'Образование:' %>
    <%= form.text_field :education, :class => 'form-control' %>
  </div>

  <hr>

  <div class="tools">
    <div class="actions">
      <%= form.submit 'Подтвердить', :class => 'btn btn-outline-success btn-sm' %>
    </div>
    <div class="actions">
      <%= link_to 'Назад', x, :class => 'btn btn-outline-danger btn-sm' %>
    </div>
  </div>

<% end %>
