<%= form_for worker, url: x do |form| %>
  <% if worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lastname, 'Фамилия' %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :firstname, 'Имя' %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :fathername, 'Отчество' %>
    <%= form.text_field :fathername %>
  </div>

  <div class="field">
    <%= form.label :birthday, 'Дата рождения' %>
    <%= form.date_select :birthday, {order: [:day, :month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Date.today.year-14, end_year: Date.today.year - 100} %>
  </div>

  <div class="field">
    <%= form.label :workdate, 'Дата принятия на работу' %>
    <%= form.date_select :workdate, {order: [:day, :month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Date.today.year, end_year: Date.today.year - 100} %>
  </div>

  <div class="field">
    <%= form.label :position, 'Должность' %>
    <%= form.text_area :position %>
  </div>

  <div class="field">
    <%= form.label :education, 'Образование' %>
    <%= form.text_field :education %>
  </div>

  <div class="actions">
    <%= form.submit 'Подтвердить' %>
  </div>
<% end %>
