<p id="notice"><%= notice %></p>

<h1>Информация о сотруднике</h1>

<p>
  <strong>Фамилия:</strong>
  <%= @worker.lastname %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @worker.firstname %>
</p>

<p>
  <strong>Отчество:</strong>
  <%= @worker.fathername %>
</p>

<p>
  <strong>Дата рождения:</strong>
  <%= @worker.birthday %>
</p>

<p>
  <strong>Дата поступления на работу:</strong>
  <%= @worker.workdate %>
</p>

<p>
  <strong>Должность:</strong>
  <%= @worker.position %>
</p>

<p>
  <strong>Образование:</strong>
  <%= @worker.education %>
</p>

<hr>

<%= link_to 'Изменить', {:controller => :workers, :action => :edit}, :params => {:lib_id => @worker.lib, :id => @worker} %> |
<%= link_to 'Удалить', [@worker.lib, @worker], method: :delete, data: { confirm: 'Ты уверен?' } %>
<br>
<%= link_to 'Назад', lib_workers_path %>
