<p id="notice"><%= notice %></p>

<h3 class="main">Информация о сотруднике</h3>

<p>
  <strong>Фамилия:</strong>
  <%= @worker.lastname %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @worker.firstname %>
</p>

<p>
  <strong>Отчество:</strong>
  <%= @worker.fathername %>
</p>

<p>
  <strong>Дата рождения:</strong>
  <%= @worker.birthday.try(:strftime, "%d.%m.%Y") %>
</p>

<p>
  <strong>Дата поступления на работу:</strong>
  <%= @worker.workdate.try(:strftime, "%d.%m.%Y") %>
</p>

<p>
  <strong>Должность:</strong>
  <%= @worker.position %>
</p>

<p>
  <strong>Образование:</strong>
  <%= @worker.education %>
</p>

<hr>

<div class="tools">
  <div class="actions btn-group btn-group-toggle" data-toggle="buttons">
    <%= link_to 'Изменить', {:controller => :workers, :action => :edit}, 
                             :params => {:lib_id => @worker.lib, :id => @worker}, 
                             :class => "btn btn-sm btn-outline-info" %>
    <%= link_to 'Удалить', [@worker.lib, @worker], method: :delete, 
                            data: { confirm: 'Ты уверен?' }, 
                            :class => "btn btn-sm btn-outline-info" %>
  </div>
  <div class="actions">
    <%= link_to 'Назад', lib_workers_path, :class => "btn btn-sm btn-outline-danger" %>
  </div>
</div>
