<%= form_with(model: lib, local: true) do |form| %>
  <% if lib.errors.any? %>
    <div id="error_explanation">
    <h2>Ошибок найдено: <%= book.errors.count %></h2>
      <ul>
      <% lib.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number, 'Номер:' %>
    <%= form.text_field :number, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :name, 'Назавание:' %>
    <%= form.text_area :name, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :adress, 'Адрес:' %>
    <%= form.text_area :adress, :class => 'form-control' %>
  </div>

  <hr>

  <div class="tools">
    <div class="actions">
      <%= form.submit 'Подтвердить', :class => 'btn btn-outline-success btn-sm' %>
    </div>
    <div class="actions">
      <%= link_to 'Назад', x, :class => 'btn btn-outline-danger btn-sm' %>
    </div>
  </div>

<% end %>
