<%= form_with(model: lib, local: true) do |form| %>

  <div class="field">
    <%= form.label :number, 'Номер:' %>
    <%= form.text_field :number, autofocus: true, :class => 'form-control' %>
    <% if lib.errors[:number].any? %>
      <% lib.errors[:number].each do |error| %>
        <p style="text-indent: 10px; color: red;"><%= error.capitalize %></p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :name, 'Назавание:' %>
    <%= form.text_area :name, :class => 'form-control' %>
    <% if lib.errors[:name].any? %>
      <% lib.errors[:name].each do |error| %>
        <p style="text-indent: 10px; color: red;"><%= error.capitalize %></p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :adress, 'Адрес:' %>
    <%= form.text_area :adress, :class => 'form-control' %>
    <% if lib.errors[:adress].any? %>
      <% lib.errors[:adress].each do |error| %>
        <p style="text-indent: 10px; color: red;"><%= error.capitalize %></p>
      <% end %>
    <% end %>
  </div>

  <hr>

  <div class="tools">
    <div class="actions">
      <%= form.submit 'Подтвердить', :class => 'btn btn-outline-success btn-sm' %>
    </div>
    <div class="actions">
      <%= link_to 'Назад', x, :class => 'btn btn-outline-danger btn-sm' %>
    </div>
  </div>

<% end %>
