<p id="notice"><%= notice %></p>

<h1>Список библиотек</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Наименование</th>
      <th>Адрес</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libs.each do |lib| %>
      <tr>
        <td><%= lib.number %></td>
        <td><%= lib.name %></td>
        <td><%= lib.adress %></td>
        <td><%= link_to 'Показать', lib %></td>
        <td><%= link_to 'Изменить', edit_lib_path(lib) %></td>
        <td><%= link_to 'Удалить', lib, method: :delete, data: { confirm: 'Ты уверен?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'Добавить библиотеку', new_lib_path %>
<br>
<%= link_to 'Главная страница', root_path %>

