<p id="notice"><%= notice %></p>

<h3 class="main">Информация о библиотеке</h3>

<p>
  <strong>Номер:</strong>
  <%= @lib.number %>
</p>

<p>
  <strong>Наименование:</strong>
  <%= @lib.name %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @lib.adress %>
</p>

<hr>

<p>
  <strong>Сотрудники:</strong>
  <%= @lib.workers.count %>
  <%= link_to 'Показать', lib_workers_path(@lib) %> |
  <%= link_to 'Добавить', new_lib_worker_path(@lib) %>
</p>

<p>
  <strong>Абоненты:</strong>
  <%= @lib.readers.count %>
  <%= link_to 'Показать', lib_readers_path(@lib) %> |
  <%= link_to 'Добавить', new_lib_reader_path(@lib) %>
</p>

<p>
  <strong>Книги:</strong>
  <%= @lib.books.count %>
  <%= link_to 'Показать', lib_books_path(@lib) %> |
  <%= link_to 'Добавить', new_lib_book_path(@lib) %>
</p>

<hr>

<div class="tools">
  <div class="actions btn-group btn-group-toggle" data-toggle="buttons">
    <%= link_to 'Изменить', {:controller => :libs, :action => :edit}, 
                            :params => {:lib_id => @lib}, 
                            :class => "btn btn-sm btn-outline-info" %>
    <%= link_to 'Удалить', @lib, method: :delete, data: { confirm: 'Ты уверен?' }, 
                           :class => "btn btn-sm btn-outline-info" %>
  </div>
  <div class="actions">
    <%= link_to 'Топ-10 книг', top_path(@lib), :class => "btn btn-sm btn-outline-primary" %>
  </div>
  <div class="actions">
    <%= link_to 'Назад', libs_path, :class => "btn btn-sm btn-outline-danger" %>
  </div>
</div>
